* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Roboto Slab", serif;
  outline: none;
}
:root {
  --text-color: black
  --text-color-doc: black;
  --div-cnt-back: #F7F9F9;
  --background:rgb(52, 154, 213);
  --background-gradient: linear-gradient(
    90deg,
    rgba(52, 154, 213, 1) 34%,
    rgba(0, 212, 255, 1) 100%
  );
  --middle-color: #015065
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
  background: var(--background-gradient);
  height: 100vh;
  color: var(--text-color);
}
#container {
  width: 100%;
  max-width: 588px;
  padding: 0 24px;
  margin: 250px auto;

}
#loginForm{
  width: 100%;
  max-width: 588px;
  border-radius: 10px;

  display: flex;
  flex-direction: column;
  justify-content: center;

  background-color: var(--div-cnt-back);
  box-shadow:  0 0 10px rgba(4, 3, 5, 0.329);
  padding: 50px 20px;
}
#attendence{
  font-weight: bold;
  padding: 0px 0px 12px;
  text-align: center;
  font-size: 56px;
  color: var(--middle-color);
  margin-bottom: 15px;
}
#loginForm .input-data{
  width: 100%;
  height: 50px;
  position: relative;
  margin-bottom: 27px;
  color: var(--middle-color);
}
#loginForm .input-data input{
  width: 100%;
  height: 100%;
  border: 0;
  font-size: 25px;
  border-bottom: 2px solid var(--middle-color);
  background: none;
  padding: 0px 16px;
  color: var(--background);

  transition: all 0.2s;

}
#loginForm .input-data label{
  position: absolute;
  bottom: 10px;
  left: 0;
  transition: 0.3s;
  font-size: 20px;
  color: var(--middle-color);
}
#loginForm .input-data input:focus,
#loginForm .input-data input:valid{
  border-bottom: 4px solid var(--background);
}
#loginForm .input-data input:focus ~ label,
#loginForm .input-data input:valid ~ label{
  color: var(--background);
  transform: translateY(-35px);
  font-size: 15px;
}
#loginForm .submit{
  transition: all 0.5s;
}
#loginForm .submit:hover{
  transform: translateY(-8px);
  background: var(--background-gradient);
}
#loginForm .submit{
  margin: auto;
  width: 95px;
  font-size: 20px;
  text-align: center;
  border: none;
  background: var(--middle-color);
  color: white;
  height: 40px;
  border-radius: 40px;
  margin-bottom: 15px;
 
}
#loginForm footer{
  text-align: center;
  margin-top: 10px;
}
#loginForm footer a{
    text-decoration: none;
}